.problems {
	padding-top: 137px;
}
.about {
	&__title {
		margin-bottom: 30px;
	}
	&__autor {
		background: url('../images/dest/author.jpg') no-repeat left center;
		padding: 7px 0 7px 96px;
		margin-top: 61px;
	}
	&__name {
		font-size: 22px;
	}
	&__dop {
		margin-bottom: 0;
	}
}