.services {
	padding-top: 142px;
}
.section-title {
	&__label {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.25em;
		color: #8F8F8F;
		margin-bottom: 40px;
	}
}
.serv-list {
	color: #8d8d8d;
	margin-top: 67px;
	&__left {
		margin-left: 37px;
	}
	&__item {
		margin-bottom: 20px;
	}
}
.works-carousel {
	margin-top: 99px;
}
.works-carousel .item, .works-carousel .owl-item {
	width: 825px !important;
	position: relative;
}
.works-carousel .owl-prev {
	margin-right: 25px !important;
}
.works-carousel .owl-nav {
	margin-top: 50px !important;
}
.owl-carousel__play {
	display: block;
	background: url('../images/dest/play.svg');
	width: 65px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	cursor: pointer;
}
